<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<title>GodFulJur - 공지사항</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light nav-tabs">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img
						class="brand-img"
						alt=""
						width="45"
						height="45"
					/>
					<span style="color: #61ade6;">G</span><span>o</span><span>d</span
					><span style="color: #00d5ff;">F</span><span>u</span><span>l</span
					><span style="color: lightblue;">J</span><span>u</span><span>r</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-tabs">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/">홈</a>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle active"
								href="#"
								id="navbarDropdown"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								게시판
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="/board/announcements/index"
										>공지사항</a
									>
								</li>
								<li><hr class="dropdown-divider" /></li>
								<li><a class="dropdown-item" href="/posts">커뮤니티</a></li>
								<li><a class="dropdown-item" href="/support">기타</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/games">게임들</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/leaderboard">리더보드</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/store">상점</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/guidelines">규칙</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/introduction">서버 소개</a>
						</li>
					</ul>
					<div class="d-flex nav-item">
						<% if user_signed_in? %>
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" href="#"><span style="color: <%= current_user.color %>">[<%= current_user.role %>]</span>&nbsp;<%= current_user.username %>님</a>
							</li>
						</ul>
						&nbsp;
						<form action="/users/edit">
							<button class="btn btn-outline-success nav-item" type="submit">회원정보 수정</button>
						</form>
						&nbsp;
						<%= form_tag(destroy_user_session_path, method: "delete") do %>
							<button class="btn btn-outline-success nav-item" type="submit">로그아웃</button>
						<% end %>
						<% else %>
						<form action="/users/sign_in">
							<button class="btn btn-outline-success nav-item" type="submit">로그인</button>
						</form>
						&nbsp;
						<form action="/users/sign_up">
							<button class="btn btn-outline-success nav-item" type="submit">회원가입</button>
						</form>
						<% end %>
					</div>
				</div>
			</div>
		</nav>
		<div class="all">
			&nbsp;
			<br />
			&nbsp;
			<div class="center content rounded-3 jua">
				<div class="center content rounded-3">
					<h1 class="center">공지사항</h1>
					<table class="center">
						<th>번호</th>
						<th class="center">제목</th>
						<th></th>
						<% @announcements.each do |announcement| %>
							<tr>
								<td class="center"><%= announcement.id %></td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/board/announcements/show/<%= announcement.id %>" class="a-remove"><%= announcement.title %></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td class="d-flex">
									<% if user_signed_in? %>
										<% if current_user.role == "GODFULJUR" or "" %>
											&nbsp;
											<form action="/board/announcements/edit/<%= announcement.id %>" method="post">
												<input
													name="authenticity_token"
													value="<%= form_authenticity_token %>"
													type="hidden"
												/><button class="btn btn-outline-primary">게시글 수정</button>
											</form>
											&nbsp;
											<form action="/board/announcements/delete/<%= announcement.id %>" method="post">
												<input
													name="authenticity_token"
													value="<%= form_authenticity_token %>"
													type="hidden"
												/><button class="btn btn-outline-danger" onclick="destroy('이 게시글을 삭제하시겠습니까?')">게시글 삭제</button>
											</form>
										<% end %>
									<% end %>
								</td>
							</tr>
						<% end %>
					</table>
					<br>
					<% if user_signed_in? %>
						<% if current_user.role == "GODFULJUR" or "" %>
							<form action="/board/announcements/new" method="post" class="center">
								<input
									name="authenticity_token"
									value="<%= form_authenticity_token %>"
									type="hidden"
								/><button class="btn btn-outline-success">새 공지사항</button>
							</form>
						<% end %>
					<% end %>
				</div>
			</div>
			&nbsp;
			<br />
			&nbsp;
		</div>
	</body>
</html>